@font-face {
  font-family: "Maple Mono";
  src: url("/assets/fonts/MapleMono/MapleMono[wght].woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono";
  src: url("/assets/fonts/MapleMono/MapleMono[wght].woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono";
  src: url("/assets/fonts/MapleMono/MapleMono-Italic[wght].woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono";
  src: url("/assets/fonts/MapleMono/MapleMono-Italic[wght].woff2")
    format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "New Computer Modern";
  src: url("/assets/fonts/NewComputerModern/NewCM10-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "New Computer Modern";
  src: url("/assets/fonts/NewComputerModern/NewCM10-Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "New Computer Modern";
  src: url("/assets/fonts/NewComputerModern/NewCM10-Italic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "New Computer Modern";
  src: url("/assets/fonts/NewComputerModern/NewCM10-BoldItalic.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Han Serif";
  src: url("/assets/fonts/SourceHanSerif/SourceHanSerifSC-VF.otf.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "LXGW Wenkai";
  src: url("/assets/fonts/LXGWWenkai/LXGWWenKai-Regular.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Swell Braille";
  src: url("/assets/fonts/SwellBraille/swell-braille.woff2") format("woff2");
  font-display: swap;
}
