@font-face {
  font-family: "Maple Mono";
  src: url("../fonts/MapleMono/MapleMono-Regular.ttf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono";
  src: url("../fonts/MapleMono/MapleMono-Bold.ttf.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono";
  src: url("../fonts/MapleMono/MapleMono-Italic.ttf.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono";
  src: url("../fonts/MapleMono/MapleMono-ExtraBoldItalic.ttf.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "New Computer Modern";
  src: url("../fonts/NewComputerModern/NewCM10-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "New Computer Modern";
  src: url("../fonts/NewComputerModern/NewCM10-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "New Computer Modern";
  src: url("../fonts/NewComputerModern/NewCM10-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "New Computer Modern";
  src: url("../fonts/NewComputerModern/NewCM10-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap');