@font-face {
  font-family: "Maple Mono";
  src: url("../fonts/MapleMono/MapleMono-Regular.ttf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono";
  src: url("../fonts/MapleMono/MapleMono-Bold.ttf.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono";
  src: url("../fonts/MapleMono/MapleMono-Italic.ttf.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono";
  src: url("../fonts/MapleMono/MapleMono-ExtraBoldItalic.ttf.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "New Computer Modern";
  src: url("../fonts/NewComputerModern/NewCM10-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "New Computer Modern";
  src: url("../fonts/NewComputerModern/NewCM10-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "New Computer Modern";
  src: url("../fonts/NewComputerModern/NewCM10-Italic.otf") format("otf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "New Computer Modern";
  src: url("../fonts/NewComputerModern/NewCM10-BoldItalic.otf") format("otf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}