/* pattern4.css - 第四种背景样式 */

/* 亮色模式 */
html {
  --s: 200px; /* control the size*/
  --c1: #f8f8f8;
  --c2: #fefefe;
  --c3: #ececec;

  --_l: #0000 calc(25% / 3), var(--c1) 0 25%, #0000 0;
  --_g: conic-gradient(from 120deg at 50% 87.5%, var(--c1) 120deg, #0000 0);

  background: var(--_g), var(--_g) 0 calc(var(--s) / 2),
    conic-gradient(from 180deg at 75%, var(--c2) 60deg, #0000 0),
    conic-gradient(from 60deg at 75% 75%, var(--c1) 0 60deg, #0000 0),
    linear-gradient(150deg, var(--_l)) 0 calc(var(--s) / 2),
    conic-gradient(
      at 25% 25%,
      #0000 50%,
      var(--c2) 0 240deg,
      var(--c1) 0 300deg,
      var(--c2) 0
    ),
    linear-gradient(-150deg, var(--_l)) var(--c3);
  background-size: calc(0.866 * var(--s)) var(--s);
  background-attachment: fixed;
}

/* 暗色模式 */
html.dark {
  --c1: #121212;
  --c2: #181818;
  --c3: #0a0a0a;
}